.iconos__items{
    width: 100px;
    height: 100px;
    padding: 25px 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 40px;
    text-align: center;
    background-color: var(--color-fondo-secundario);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.iconos__items:hover{
    background-color: var(--color-fuente-enlace);
}

@media screen and (min-width: 1024px) {
    .iconos__items{
        margin-bottom: 50px;
    }
}