.header{
    background-color: var(--color-fondo);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 2rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.logo_titulo{
    color: var(--color-menu);
    font-size: 1.25rem;
    margin-right:1rem;
}